<div id="booking">
  <!-- <div> -->
  <!-- <img src="https://www.zoomcar.com/img/bg-desktop.png" alt=""> -->
  <form id="form">
    <select name="fromLocation" id="start" class="form-control" [(ngModel)]="fromLocation">
      <option value="">Pick Up Address</option>
      <option [value]="location.locationId" *ngFor="let location of locationList">
        {{location.title }}</option>
    </select>
    <select name="toLocation" id="end" class="form-control" [(ngModel)]="toLocation">
      <option value="">Drop Off Address</option>
      <option [value]="location.locationId" *ngFor="let location of locationList">
        {{location.title }}</option>
    </select>

    <div><button id="primaryButton" type="submit" (click)="getCarBySearch()">FIND CARS</button></div>
  </form>

</div>
<div class="row">
  <div class="col-12 text-center">
    <h3>POPULAR CARS IN NAGPUR</h3>
  </div>
</div>

<div class="car-list-home-container">
  <div class="car-list-home">
    <div class="row">
      <div *ngFor="let car of publicCarList" class="col-3" (click)="carBooking(car.carId)">
        <app-common-car [carListFromParent]="car"></app-common-car>
      </div>
    </div>
  </div>
</div>
